@media screen and (min-width: 1400px) {
    .container {
        max-width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: auto;
    }
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body  .page-body {
    background-color: #F5F5D3;
}

.page-body .toc-head .container h2 {
    padding: 10px;
    color: #fff;
    font-weight: 700;
}