@media screen and (min-width: 1400px) {
    .container {
        max-width: auto;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        max-width: auto;
    }
}

body  .page-body {
    background-color: #F5F5D3;
}

.page-body .toc-head .container h3 {
    padding: 10px;
    color: #fff;
    font-weight: 700;
}