<!DOCTYPE html>
<html class="route-{{ page.route }} route-{{ page.layout }}{% if page.section %} section-{{ page.section }}{% endif %}">
  {% include head.html %}
  <body>
    <div class="page-hero"></div>
    <div class="page-body">
      {{ content }}
    </div>    
    {% include scripts.html %}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?81776ff2e5a89af11fe3f84233161d25";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </body>
</html>
