<!DOCTYPE html>
<html class="route-{{ page.route }} route-{{ page.layout }}{% if page.section %} section-{{ page.section }}{% endif %}">
  {% include head.html %}
  <body>
    <div class="page-hero"></div>
    <div class="page-body">
      <div>
        <a href="https://github.com/e-f-e/fe-primary-tutorial" target="_blank"><img style="position: fixed; top: -7px; right: 0; border: 0;z-index: 999;" src="https://i.alipayobjects.com/e/201211/1dbSqT9ykm.png" width="149" height="149" alt="Fork me on GitHub"></a>
      </div>
      {{ content }}
    </div>    
    {% include scripts.html %}
    <script>
    var _hmt = _hmt || [];
    (function() {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?81776ff2e5a89af11fe3f84233161d25";
      var s = document.getElementsByTagName("script")[0]; 
      s.parentNode.insertBefore(hm, s);
    })();
    </script>
  </body>
</html>
